# Testing File: Will be used to test connections, test analytical utility functions, and anything else that could be useful

## First tests of Database successfully populating and querying

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

USER = "SeanZahller"
PASS = "YvMiTe9!2"
DB   = "nfl_warehouse"
TRY_PORTS = [5432]

pd.set_option("display.max_columns", None)

def make_engine():
    last_err = None
    for port in TRY_PORTS:
        url = f"postgresql+psycopg2://{USER}:{PASS}@localhost:{port}/{DB}"
        try:
            eng = create_engine(url, pool_pre_ping=True)
            with eng.connect() as con:  
                con.execute(text("SELECT 1"))
            print(f"Connected on port {port}")
            return eng
        except Exception as e:
            last_err = e
    raise RuntimeError(f"Could not connect on ports {TRY_PORTS}. Last error: {last_err}")

engine = make_engine()

def table_list():
    with engine.connect() as con:
        return pd.read_sql(
            text("""SELECT table_name
                    FROM information_schema.tables
                    WHERE table_schema='public'"""),
            con
        )["table_name"].tolist()

def safe_count(table):
    with engine.connect() as con:
        try:
            return con.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar()
        except Exception:
            return None

tables = table_list()
print("Tables:", ", ".join(sorted(tables)) or "(none)")

for t in ["hist_schedules", "hist_weekly", "hist_rosters_seasonal", "hist_rosters_weekly"]:
    if t in tables:
        cnt = safe_count(t)
        print(f"{t:24s} {cnt:,}" if cnt is not None else f"{t:24s} (count error)")
    else:
        print(f"{t:24s} (missing)")

START_SEASON, END_SEASON = 2000, 2024
with engine.connect() as con:
    sample = pd.read_sql(
        text("""
            SELECT season, week, gameday, home_team, away_team, home_score, away_score
            FROM hist_schedules
            WHERE home_score IS NOT NULL AND away_score IS NOT NULL
              AND season BETWEEN :s AND :e
            ORDER BY season, week
            LIMIT 10
        """),
        con, params={"s": START_SEASON, "e": END_SEASON}
    )
print("\nSample scored games:")
print(sample.to_string(index=False))

# Querying Record vs .500 Win Pct
MIN_GAMES_VS_500 = 50 

sql_vs500 = text("""
WITH games AS (
  SELECT season, week, gameday, home_team, away_team, home_score, away_score
  FROM hist_schedules
  WHERE home_score IS NOT NULL AND away_score IS NOT NULL
    AND season BETWEEN :s AND :e
),
team_games AS (
  SELECT season,
         home_team AS team,
         away_team AS opp,
         CASE WHEN home_score > away_score THEN 1
              WHEN home_score = away_score THEN 0.5
              ELSE 0 END AS win_pts,
         1 AS games
  FROM games
  UNION ALL
  SELECT season,
         away_team AS team,
         home_team AS opp,
         CASE WHEN away_score > home_score THEN 1
              WHEN away_score = home_score THEN 0.5
              ELSE 0 END AS win_pts,
         1 AS games
  FROM games
),
season_record AS (
  SELECT season, team,
         SUM(win_pts) AS wins, SUM(games) AS games,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct
  FROM team_games
  GROUP BY season, team
),
vs_500 AS (
  SELECT tg.season, tg.team, tg.opp, tg.win_pts, tg.games
  FROM team_games tg
  JOIN season_record sr_opp
    ON sr_opp.season = tg.season AND sr_opp.team = tg.opp
  WHERE sr_opp.win_pct >= 0.5
),
agg_vs_500 AS (
  SELECT team,
         SUM(win_pts) AS wins_vs_500,
         SUM(games)  AS games_vs_500,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct_vs_500
  FROM vs_500
  GROUP BY team
),
agg_overall AS (
  SELECT team,
         SUM(win_pts) AS wins_all,
         SUM(games)  AS games_all,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct_all
  FROM team_games
  GROUP BY team
)
SELECT a.team,
       a.games_vs_500,
       ROUND(a.wins_vs_500::numeric, 1) AS wins_vs_500,
       ROUND(a.win_pct_vs_500*100, 2)   AS win_pct_vs_500_pct,
       o.games_all,
       ROUND(o.wins_all::numeric, 1)    AS wins_all,
       ROUND(o.win_pct_all*100, 2)      AS win_pct_all_pct,
       ROUND((a.win_pct_vs_500 - o.win_pct_all)*100, 2) AS diff_vs_overall_pp
FROM agg_vs_500 a
JOIN agg_overall o USING (team)
WHERE a.games_vs_500 >= :min_games
ORDER BY a.win_pct_vs_500 DESC, a.games_vs_500 DESC;
""")

with engine.connect() as con:
    df_vs500 = pd.read_sql(sql_vs500, con, params={
        "s": START_SEASON, "e": END_SEASON, "min_games": MIN_GAMES_VS_500
    })

print(f"\nBest win% vs .500+ opponents ({START_SEASON}-{END_SEASON}, min {MIN_GAMES_VS_500} games):")
print(df_vs500.head(20).to_string(index=False))

Connected on port 5432
Tables: hist_schedules, hist_weekly
hist_schedules           6,732
hist_weekly              129,439
hist_rosters_seasonal    (missing)
hist_rosters_weekly      (missing)

Sample scored games:
 season  week    gameday home_team away_team  home_score  away_score
   2000     1 2000-09-03       CLE       JAX         7.0        27.0
   2000     1 2000-09-03        KC       IND        14.0        27.0
   2000     1 2000-09-03       MIN       CHI        30.0        27.0
   2000     1 2000-09-03        NE        TB        16.0        21.0
   2000     1 2000-09-03        NO       DET        10.0        14.0
   2000     1 2000-09-03       NYG       ARI        21.0        16.0
   2000     1 2000-09-03       PIT       BAL         0.0        16.0
   2000     1 2000-09-03       WAS       CAR        20.0        17.0
   2000     1 2000-09-03       DAL       PHI        14.0        41.0
   2000     1 2000-09-03       ATL        SF        36.0        28.0

Best win% vs .500+ opponents (2000-2024, min 50 games):
team  games_vs_500  wins_vs_500  win_pct_vs_500_pct  games_all  wins_all  win_pct_all_pct  diff_vs_overall_pp
  NE           265        157.0               59.25        446     300.0            67.26               -8.02
 PIT           236        123.5               52.33        433     271.5            62.70              -10.37
  GB           237        113.5               47.89        436     267.0            61.24              -13.35
  KC           249        118.0               47.39        433     250.0            57.74              -10.35
 BAL           254        119.0               46.85        436     262.0            60.09              -13.24
 PHI           249        116.0               46.59        439     263.0            59.91              -13.32
 IND           248        114.0               45.97        431     251.5            58.35              -12.38
  LA            91         41.0               45.05        161      92.0            57.14              -12.09
 DEN           241        103.0               42.74        420     224.0            53.33              -10.59
 SEA           228         95.0               41.67        432     243.5            56.37              -14.70
  NO           218         86.0               39.45        423     235.0            55.56              -16.11
  SD           167         62.0               37.13        282     140.0            49.65              -12.52
 TEN           237         86.0               36.29        418     204.0            48.80              -12.52
  SF           241         87.0               36.10        427     209.5            49.06              -12.96
 DAL           228         82.0               35.96        418     221.0            52.87              -16.91
 MIN           230         79.5               34.57        419     220.0            52.51              -17.94
  TB           228         77.0               33.77        421     198.0            47.03              -13.26
 CIN           243         82.0               33.74        417     196.0            47.00              -13.26
 MIA           233         78.0               33.48        411     197.0            47.93              -14.46
 BUF           244         81.0               33.20        417     205.0            49.16              -15.96

## DB Investigation

In [1]:
import math
import pandas as pd
from sqlalchemy import create_engine, text

# --- EDIT if your port/user changed ---
USER = "SeanZahller"
PASS = "YvMiTe9!2"
DB   = "nfl_warehouse"
PORT = 5432  # you connected on 5432 earlier

pd.set_option("display.max_columns", None)

engine = create_engine(f"postgresql+psycopg2://{USER}:{PASS}@localhost:{PORT}/{DB}", pool_pre_ping=True)

TABLES = ["hist_schedules", "hist_weekly"]  # add more later

NUMERIC_TYPES = {"smallint","integer","bigint","numeric","real","double precision"}
DATE_TYPES    = {"date","timestamp without time zone","timestamp with time zone","timestamp"}

def get_columns(table):
    with engine.connect() as con:
        q = text("""
            SELECT column_name, data_type, ordinal_position
            FROM information_schema.columns
            WHERE table_schema='public' AND table_name=:t
            ORDER BY ordinal_position
        """)
        return pd.read_sql(q, con, params={"t": table})

def get_rowcount(table):
    with engine.connect() as con:
        return con.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar()

def agg_num(table, col):
    with engine.connect() as con:
        q = text(f"SELECT MIN({col}) AS min, MAX({col}) AS max, AVG({col}) AS avg FROM {table} WHERE {col} IS NOT NULL")
        return con.execute(q).mappings().first()

def agg_date(table, col):
    with engine.connect() as con:
        q = text(f"SELECT MIN({col}) AS min, MAX({col}) AS max FROM {table} WHERE {col} IS NOT NULL")
        return con.execute(q).mappings().first()

def counts_for_col(table, col):
    with engine.connect() as con:
        non_null = con.execute(text(f"SELECT COUNT({col}) FROM {table}")).scalar()
        distinct = con.execute(text(f"SELECT COUNT(DISTINCT {col}) FROM {table}")).scalar()
    return non_null, distinct

def sample_values(table, col, n=5):
    # small peek at distinct values; safe for any type
    with engine.connect() as con:
        q = text(f"SELECT DISTINCT {col} FROM {table} WHERE {col} IS NOT NULL LIMIT {n}")
        try:
            vals = [r[0] for r in con.execute(q).fetchall()]
            # stringify & truncate long strings
            return [str(v)[:60] for v in vals]
        except Exception:
            return []

def profile_table(table):
    cols = get_columns(table)
    total = get_rowcount(table)
    rows = []
    for _, r in cols.iterrows():
        col = r["column_name"]
        dtype = r["data_type"]
        non_null, distinct = counts_for_col(table, col)
        nulls = total - (non_null or 0)
        null_pct = (nulls / total * 100) if total else 0.0

        min_v = max_v = avg_v = None
        if dtype in NUMERIC_TYPES:
            agg = agg_num(table, col)
            min_v, max_v, avg_v = agg["min"], agg["max"], agg["avg"]
            # round avg for readability
            if isinstance(avg_v, (float,int)) and not isinstance(avg_v, bool):
                avg_v = float(avg_v)
                if not math.isnan(avg_v):
                    avg_v = round(avg_v, 3)
        elif dtype in DATE_TYPES:
            agg = agg_date(table, col)
            min_v, max_v = agg["min"], agg["max"]

        samples = ", ".join(sample_values(table, col, n=5))
        rows.append({
            "column": col, "type": dtype,
            "non_null": non_null, "nulls": nulls, "null_%": round(null_pct, 2),
            "distinct": distinct,
            "min": min_v, "max": max_v, "avg": avg_v,
            "examples": samples
        })
    df = pd.DataFrame(rows)
    return total, df

def quick_coverage_schedules():
    with engine.connect() as con:
        rng = con.execute(text("SELECT MIN(season), MAX(season) FROM hist_schedules")).first()
        games_by_season = pd.read_sql(text("""
            SELECT season, COUNT(*) AS games_scored
            FROM hist_schedules
            WHERE home_score IS NOT NULL AND away_score IS NOT NULL
            GROUP BY season ORDER BY season
        """), con)
        teams = pd.read_sql(text("""
            SELECT team FROM (
              SELECT DISTINCT home_team AS team FROM hist_schedules
              UNION SELECT DISTINCT away_team FROM hist_schedules
            ) t ORDER BY team
        """), con)
    print(f"\nSchedules coverage: seasons {rng[0]}–{rng[1]}")
    print(games_by_season.tail(10).to_string(index=False))
    print(f"\nDistinct team abbreviations ({len(teams)}): {', '.join(teams['team'])}")

def quick_coverage_weekly():
    with engine.connect() as con:
        rng = con.execute(text("SELECT MIN(season), MAX(season) FROM hist_weekly")).first()
        per_season = pd.read_sql(text("""
            SELECT season, COUNT(*) AS rows
            FROM hist_weekly GROUP BY season ORDER BY season
        """), con)
        positions = pd.read_sql(text("""
            SELECT COALESCE(position,'(null)') AS position, COUNT(*) AS rows
            FROM hist_weekly GROUP BY 1 ORDER BY rows DESC LIMIT 10
        """), con)
    print(f"\nWeekly coverage: seasons {rng[0]}–{rng[1]}")
    print(per_season.tail(10).to_string(index=False))
    print("\nTop positions:")
    print(positions.to_string(index=False))

if __name__ == "__main__":
    print("Profiling tables:", ", ".join(TABLES))
    for t in TABLES:
        try:
            total, prof = profile_table(t)
            print(f"\n=== {t} ===  rows: {total:,}")
            print(prof.head(15).to_string(index=False))  # first 15 rows of the profile
            out = f"profile_{t}.csv"
            prof.to_csv(out, index=False)
            print(f"(saved {out})")
        except Exception as e:
            print(f"\n=== {t} === error: {e}")

    if "hist_schedules" in TABLES:
        quick_coverage_schedules()
    if "hist_weekly" in TABLES:
        quick_coverage_weekly()

Profiling tables: hist_schedules, hist_weekly

=== hist_schedules ===  rows: 6,732
    column             type  non_null  nulls  null_%  distinct    min    max                   avg                                                                         examples
   game_id             text      6732      0     0.0      6732    NaN    NaN                  None 2024_21_BUF_KC, 2015_13_DEN_SD, 2005_17_WAS_PHI, 2021_10_SEA_GB, 2002_14_PHI_SEA
    season           bigint      6732      0     0.0        25 2000.0 2024.0 2012.1405228758169935                                                     2012, 2018, 2009, 2005, 2024
 game_type             text      6732      0     0.0         5    NaN    NaN                  None                                                            DIV, REG, SB, WC, CON
      week           bigint      6732      0     0.0        22    1.0   22.0    9.5873440285204991                                                                 11, 8, 19, 4, 21
   gameday             text      6732      0     0.0      1311    NaN    NaN                  None                       2018-09-20, 2013-01-13, 2013-09-26, 2023-09-28, 2024-01-13
   weekday             text      6732      0     0.0         7    NaN    NaN                  None                                   Tuesday, Saturday, Wednesday, Friday, Thursday
  gametime             text      6732      0     0.0        55    NaN    NaN                  None                                                12:30, 18:31, 19:00, 19:30, 18:45
 away_team             text      6732      0     0.0        35    NaN    NaN                  None                                                          DEN, HOU, NYJ, CHI, IND
away_score double precision      6732      0     0.0        55    0.0   59.0                 20.98                                                      46.0, 49.0, 40.0, 2.0, 39.0
 home_team             text      6732      0     0.0        35    NaN    NaN                  None                                                          DEN, HOU, CHI, NYJ, IND
home_score double precision      6732      0     0.0        61    0.0   70.0                23.303                                                      11.0, 0.0, 62.0, 15.0, 26.0
  location             text      6732      0     0.0         2    NaN    NaN                  None                                                                    Home, Neutral
    result double precision      6732      0     0.0       100  -49.0   59.0                 2.323                                                  40.0, 39.0, -25.0, -17.0, -28.0
     total double precision      6732      0     0.0        93    3.0  106.0                44.283                                                     62.0, 65.0, 15.0, 26.0, 38.0
  overtime double precision      6732      0     0.0         2    0.0    1.0                 0.062                                                                         0.0, 1.0
(saved profile_hist_schedules.csv)

=== hist_weekly ===  rows: 129,439
             column    type  non_null  nulls  null_%  distinct    min    max                    avg                                                                                                                                                                                                                                                                                                             examples
          player_id    text    129439      0    0.00      3995    NaN    NaN                   None                                                                                                                                                                                                                                                           00-0021406, 00-0022555, 00-0020405, 00-0025951, 00-0035529
        player_name    text     67068  62371   48.19      1706    NaN    NaN                   None                                                                                                                                                                                                                                                                          T.Thomas, M.Thomas, B.Bell, J.Ryan, L.Jones
player_display_name    text    129439      0    0.00      3984    NaN    NaN                   None                                                                                                                                                                                                                                         Anthony Wright, Spencer Nead, Jaydon Mickens, Brandon Jackson, Jeff Heuerman
           position    text    129370     69    0.05        28    NaN    NaN                   None                                                                                                                                                                                                                                                                                                   CB, SS, P, ILB, DT
     position_group    text    129370     69    0.05         9    NaN    NaN                   None                                                                                                                                                                                                                                                                                                   LB, DL, RB, QB, WR
       headshot_url    text     75382  54057   41.76      2496    NaN    NaN                   None https://static.www.nfl.com/image/private/f_auto,q_auto/leagu, https://static.www.nfl.com/image/upload/f_auto,q_auto/league, https://static.www.nfl.com/image/upload/f_auto,q_auto/league, https://static.www.nfl.com/image/upload/f_auto,q_auto/league, https://static.www.nfl.com/image/private/f_auto,q_auto/leagu
        recent_team    text    129439      0    0.00        32    NaN    NaN                   None                                                                                                                                                                                                                                                                                              DEN, HOU, NYJ, CHI, IND
             season integer    129439      0    0.00        25 2000.0 2024.0  2012.3822881820780445                                                                                                                                                                                                                                                                                         2012, 2018, 2009, 2005, 2024
               week integer    129439      0    0.00        22    1.0   22.0     9.5994329375226941                                                                                                                                                                                                                                                                                                     11, 8, 19, 4, 21
        season_type    text    129439      0    0.00         2    NaN    NaN                   None                                                                                                                                                                                                                                                                                                            POST, REG
      opponent_team    text    129439      0    0.00        32    NaN    NaN                   None                                                                                                                                                                                                                                                                                              DEN, HOU, NYJ, IND, CHI
        completions integer    129439      0    0.00        47    0.0   47.0     2.1713548466845387                                                                                                                                                                                                                                                                                                    42, 29, 4, 34, 41
           attempts integer    129439      0    0.00        69    0.0   68.0     3.5125039593940003                                                                                                                                                                                                                                                                                                    54, 29, 68, 4, 34
      passing_yards    real    129439      0    0.00       501  -16.0  527.0                 24.693                                                                                                                                                                                                                                                                                        0.0, 154.0, 517.0, 96.0, 61.0
        passing_tds integer    129439      0    0.00         8    0.0    7.0 0.15060375929974737135                                                                                                                                                                                                                                                                                                        7, 1, 5, 4, 2
(saved profile_hist_weekly.csv)

Schedules coverage: seasons 2000–2024
 season  games_scored
   2015           267
   2016           267
   2017           267
   2018           267
   2019           267
   2020           269
   2021           285
   2022           284
   2023           285
   2024           285

Distinct team abbreviations (35): ARI, ATL, BAL, BUF, CAR, CHI, CIN, CLE, DAL, DEN, DET, GB, HOU, IND, JAX, KC, LA, LAC, LV, MIA, MIN, NE, NO, NYG, NYJ, OAK, PHI, PIT, SD, SEA, SF, STL, TB, TEN, WAS

Weekly coverage: seasons 2000–2024
 season  rows
   2015  5318
   2016  5274
   2017  5319
   2018  5281
   2019  5261
   2020  5447
   2021  5698
   2022  5631
   2023  5653
   2024  5597

Top positions:
position  rows
      WR 49318
      RB 33476
      TE 24215
      QB 16071
      FB  4886
       P   446
      CB   142
      DB   111
       G   106
       T    96

## Team View

In [2]:
# === NFL feature mart quick inspector (1-cell) ===
import pandas as pd
from sqlalchemy import create_engine, text

# --- config (edit if needed) ---
USER="SeanZahller"; PASS="YvMiTe9!2"; HOST="localhost"; DB="nfl_warehouse"
TRY_PORTS=[5432, 32768, 32769]   # tries in order; keep only your port if you know it

pd.set_option("display.max_columns", None)

def get_engine():
    last = None
    for port in TRY_PORTS:
        url = f"postgresql+psycopg2://{USER}:{PASS}@{HOST}:{port}/{DB}"
        try:
            eng = create_engine(url, pool_pre_ping=True)
            with eng.connect() as con:
                con.execute(text("SELECT 1"))
            print(f"Connected on port {port}")
            return eng
        except Exception as e:
            last = e
    raise RuntimeError(f"Could not connect on {TRY_PORTS}. Last error: {last}")

engine = get_engine()

SQL_ALLTIME = text("""
WITH g AS (SELECT * FROM mart.v_team_games_enriched)
SELECT
  team,
  COUNT(*) AS games,
  SUM(CASE WHEN win_pts=1   THEN 1 ELSE 0 END) AS wins,
  SUM(CASE WHEN win_pts=0   THEN 1 ELSE 0 END) AS losses,
  SUM(CASE WHEN win_pts=0.5 THEN 1 ELSE 0 END) AS ties,
  ROUND(SUM(win_pts)/COUNT(*)::numeric, 4)     AS win_pct,

  -- home / away
  SUM(CASE WHEN is_home THEN 1 ELSE 0 END)                               AS games_home,
  SUM(CASE WHEN is_home AND win_pts=1 THEN 1 ELSE 0 END)                 AS wins_home,
  ROUND(SUM(CASE WHEN is_home THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_home THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_home,

  SUM(CASE WHEN NOT is_home THEN 1 ELSE 0 END)                           AS games_away,
  SUM(CASE WHEN NOT is_home AND win_pts=1 THEN 1 ELSE 0 END)             AS wins_away,
  ROUND(SUM(CASE WHEN NOT is_home THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN NOT is_home THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_away,

  -- primetime
  SUM(CASE WHEN is_primetime THEN 1 ELSE 0 END)                          AS games_primetime,
  SUM(CASE WHEN is_primetime AND win_pts=1 THEN 1 ELSE 0 END)            AS wins_primetime,
  ROUND(SUM(CASE WHEN is_primetime THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_primetime THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_primetime,

  -- dayparts
  SUM(CASE WHEN is_morning THEN 1 ELSE 0 END)                            AS games_morning,
  SUM(CASE WHEN is_morning AND win_pts=1 THEN 1 ELSE 0 END)              AS wins_morning,
  ROUND(SUM(CASE WHEN is_morning THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_morning THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_morning,

  SUM(CASE WHEN is_afternoon THEN 1 ELSE 0 END)                           AS games_afternoon,
  SUM(CASE WHEN is_afternoon AND win_pts=1 THEN 1 ELSE 0 END)             AS wins_afternoon,
  ROUND(SUM(CASE WHEN is_afternoon THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_afternoon THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_afternoon,

  SUM(CASE WHEN is_evening THEN 1 ELSE 0 END)                             AS games_evening,
  SUM(CASE WHEN is_evening AND win_pts=1 THEN 1 ELSE 0 END)               AS wins_evening,
  ROUND(SUM(CASE WHEN is_evening THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_evening THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_evening,

  -- playoffs
  SUM(CASE WHEN is_playoff THEN 1 ELSE 0 END)                             AS games_playoff,
  SUM(CASE WHEN is_playoff AND win_pts=1 THEN 1 ELSE 0 END)               AS wins_playoff,
  ROUND(SUM(CASE WHEN is_playoff THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_playoff THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_playoff,

  -- vs .500+
  SUM(CASE WHEN opp_is_500_plus THEN 1 ELSE 0 END)                        AS games_vs_500,
  SUM(CASE WHEN opp_is_500_plus AND win_pts=1 THEN 1 ELSE 0 END)          AS wins_vs_500,
  ROUND(SUM(CASE WHEN opp_is_500_plus THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN opp_is_500_plus THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_vs_500
FROM g
GROUP BY team
ORDER BY team;
""")

SQL_LAST_SEASON = text("""
WITH g AS (
  SELECT * FROM mart.v_team_games_enriched
  WHERE season = (SELECT MAX(season) FROM hist_schedules)
)
SELECT
  team,
  COUNT(*) AS games,
  SUM(CASE WHEN win_pts=1   THEN 1 ELSE 0 END) AS wins,
  SUM(CASE WHEN win_pts=0   THEN 1 ELSE 0 END) AS losses,
  SUM(CASE WHEN win_pts=0.5 THEN 1 ELSE 0 END) AS ties,
  ROUND(SUM(win_pts)/COUNT(*)::numeric, 4)     AS win_pct,

  -- home/away
  SUM(CASE WHEN is_home THEN 1 ELSE 0 END)                               AS games_home,
  SUM(CASE WHEN is_home AND win_pts=1 THEN 1 ELSE 0 END)                 AS wins_home,
  ROUND(SUM(CASE WHEN is_home THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN is_home THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_home,

  SUM(CASE WHEN NOT is_home THEN 1 ELSE 0 END)                           AS games_away,
  SUM(CASE WHEN NOT is_home AND win_pts=1 THEN 1 ELSE 0 END)             AS wins_away,
  ROUND(SUM(CASE WHEN NOT is_home THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN NOT is_home THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_away,

  -- primetime + playoffs
  SUM(CASE WHEN is_primetime THEN 1 ELSE 0 END)                          AS games_primetime,
  SUM(CASE WHEN is_primetime AND win_pts=1 THEN 1 ELSE 0 END)            AS wins_primetime,
  SUM(CASE WHEN is_playoff THEN 1 ELSE 0 END)                             AS games_playoff,
  SUM(CASE WHEN is_playoff AND win_pts=1 THEN 1 ELSE 0 END)               AS wins_playoff,

  -- vs .500+
  SUM(CASE WHEN opp_is_500_plus THEN 1 ELSE 0 END)                        AS games_vs_500,
  SUM(CASE WHEN opp_is_500_plus AND win_pts=1 THEN 1 ELSE 0 END)          AS wins_vs_500,
  ROUND(SUM(CASE WHEN opp_is_500_plus THEN win_pts ELSE 0 END)
        / NULLIF(SUM(CASE WHEN opp_is_500_plus THEN 1 ELSE 0 END),0)::numeric,4) AS win_pct_vs_500
FROM g
GROUP BY team
ORDER BY win_pct DESC, wins DESC;
""")

with engine.connect() as con:
    df_all = pd.read_sql(SQL_ALLTIME, con)
    df_last = pd.read_sql(SQL_LAST_SEASON, con)

display(df_all.head(15))   # all-time snapshot (first 15 teams alphabetically)
display(df_last.head(15))  # last season top 15 by win%

# Quick look at a single team:
TEAM = "NE"   # <-- change to any team code you like
row = df_all[df_all["team"] == TEAM]
if not row.empty:
    cols = ["team","games","wins","losses","ties","win_pct",
            "games_home","wins_home","win_pct_home",
            "games_away","wins_away","win_pct_away",
            "games_primetime","wins_primetime","win_pct_primetime",
            "games_morning","wins_morning","win_pct_morning",
            "games_afternoon","wins_afternoon","win_pct_afternoon",
            "games_evening","wins_evening","win_pct_evening",
            "games_playoff","wins_playoff","win_pct_playoff",
            "games_vs_500","wins_vs_500","win_pct_vs_500"]
    display(row[cols])
else:
    print(f"No data for team '{TEAM}' — check the abbreviation.")

Connected on port 5432

,team,games,wins,losses,ties,win_pct,games_home,wins_home,win_pct_home,games_away,wins_away,win_pct_away,games_primetime,wins_primetime,win_pct_primetime,games_morning,wins_morning,win_pct_morning,games_afternoon,wins_afternoon,win_pct_afternoon,games_evening,wins_evening,win_pct_evening,games_playoff,wins_playoff,win_pct_playoff,games_vs_500,wins_vs_500,win_pct_vs_500
0,ARI,414,177,235,2,0.4300,207,105,0.5121,207,72,0.3478,49,21,0.4388,117,35,0.2991,248,121,0.4899,49,21,0.4388,10,5,0.5000,221,64,0.2919
1,ATL,418,203,214,1,0.4868,209,113,0.5407,209,90,0.4330,61,32,0.5246,287,140,0.4895,75,35,0.4667,56,28,0.5000,14,6,0.4286,224,73,0.3281
2,BAL,436,262,174,0,0.6009,212,150,0.7075,224,112,0.5000,90,54,0.6000,270,167,0.6185,81,44,0.5432,85,51,0.6000,32,18,0.5625,254,119,0.4685
3,BUF,417,205,212,0,0.4916,211,123,0.5829,206,82,0.3981,56,30,0.5357,296,146,0.4932,69,32,0.4638,52,27,0.5192,14,7,0.5000,244,81,0.3320
4,CAR,419,189,229,1,0.4523,208,104,0.5000,211,85,0.4052,47,18,0.3830,300,134,0.4483,76,40,0.5263,43,15,0.3488,15,8,0.5333,236,76,0.3242
5,CHI,413,189,224,0,0.4576,210,109,0.5190,203,80,0.3941,94,42,0.4468,260,120,0.4615,69,30,0.4348,84,39,0.4643,9,3,0.3333,233,70,0.3004
6,CIN,417,194,219,4,0.4700,208,110,0.5361,209,84,0.4043,54,20,0.3704,299,145,0.4916,65,30,0.4615,53,19,0.3585,14,5,0.3571,243,81,0.3374
7,CLE,408,140,267,1,0.3444,202,86,0.4282,206,54,0.2621,42,18,0.4286,303,106,0.3515,65,16,0.2462,40,18,0.4500,4,1,0.2500,251,49,0.1972
8,DAL,418,221,197,0,0.5287,209,121,0.5789,209,100,0.4785,147,80,0.5442,140,82,0.5857,164,77,0.4695,114,62,0.5439,14,4,0.2857,228,82,0.3596
9,DEN,420,224,196,0,0.5333,213,133,0.6244,207,91,0.4396,99,50,0.5051,96,39,0.4063,237,141,0.5949,87,44,0.5057,16,7,0.4375,241,103,0.4274
10,DET,411,160,249,2,0.3917,205,94,0.4585,206,66,0.3252,66,26,0.3939,316,123,0.3908,55,18,0.3364,40,19,0.4750,7,2,0.2857,239,56,0.2364
11,GB,436,266,168,2,0.6124,218,154,0.7110,218,112,0.5138,122,72,0.5902,210,134,0.6429,125,74,0.5920,101,58,0.5743,32,15,0.4688,237,113,0.4789
12,HOU,386,168,217,1,0.4365,194,98,0.5077,192,70,0.3646,50,20,0.4000,285,128,0.4509,54,22,0.4074,47,18,0.3830,14,6,0.4286,222,65,0.2928
13,IND,431,251,179,1,0.5835,214,138,0.6449,217,113,0.5230,92,52,0.5652,273,164,0.6026,77,43,0.5584,81,44,0.5432,27,13,0.4815,248,114,0.4597
14,JAX,412,157,255,0,0.3811,204,94,0.4608,208,63,0.3029,42,16,0.3810,305,116,0.3803,68,25,0.3676,39,16,0.4103,8,4,0.5000,238,66,0.2773

,team,games,wins,losses,ties,win_pct,games_home,wins_home,win_pct_home,games_away,wins_away,win_pct_away,games_primetime,wins_primetime,games_playoff,wins_playoff,games_vs_500,wins_vs_500,win_pct_vs_500
0,PHI,21,18,3,0,0.8571,13,12,0.9231,8,6,0.7500,3,2,4,4,12,10,0.8333
1,KC,20,17,3,0,0.8500,10,10,1.0000,10,7,0.7000,5,5,3,2,13,10,0.7692
2,DET,18,15,3,0,0.8333,10,7,0.7000,8,8,1.0000,8,7,1,0,10,7,0.7000
3,MIN,18,14,4,0,0.7778,9,8,0.8889,9,6,0.6667,5,2,1,0,8,4,0.5000
4,BUF,20,15,5,0,0.7500,10,10,1.0000,10,5,0.5000,5,4,3,2,9,5,0.5556
5,WAS,20,14,6,0,0.7000,9,7,0.7778,11,7,0.6364,5,4,3,2,9,4,0.4444
6,BAL,19,13,6,0,0.6842,9,7,0.7778,10,6,0.6000,6,5,2,1,14,10,0.7143
7,LAC,18,11,7,0,0.6111,8,5,0.6250,10,6,0.6000,5,2,1,0,9,3,0.3333
8,GB,18,11,7,0,0.6111,9,6,0.6667,9,5,0.5556,4,3,1,0,9,3,0.3333
9,SEA,17,10,7,0,0.5882,9,3,0.3333,8,7,0.8750,4,1,0,0,7,2,0.2857
10,LA,19,11,8,0,0.5789,10,6,0.6000,9,5,0.5556,7,4,2,1,9,4,0.4444
11,HOU,19,11,8,0,0.5789,9,6,0.6667,10,5,0.5000,4,2,2,1,8,2,0.2500
12,DEN,18,10,8,0,0.5556,8,6,0.7500,10,4,0.4000,3,2,1,0,10,2,0.2000
13,PIT,18,10,8,0,0.5556,8,5,0.6250,10,5,0.5000,6,2,1,0,10,5,0.5000
14,TB,18,10,8,0,0.5556,10,5,0.5000,8,5,0.6250,5,0,1,0,8,4,0.5000

,team,games,wins,losses,ties,win_pct,games_home,wins_home,win_pct_home,games_away,wins_away,win_pct_away,games_primetime,wins_primetime,win_pct_primetime,games_morning,wins_morning,win_pct_morning,games_afternoon,wins_afternoon,win_pct_afternoon,games_evening,wins_evening,win_pct_evening,games_playoff,wins_playoff,win_pct_playoff,games_vs_500,wins_vs_500,win_pct_vs_500
21,NE,446,300,146,0,0.6726,231,168,0.7273,215,132,0.614,111,71,0.6396,231,159,0.6883,118,79,0.6695,97,62,0.6392,42,30,0.7143,265,157,0.5925

## Coach and QB View

In [5]:
import pandas as pd
from sqlalchemy import create_engine, text

USER="SeanZahller"; PASS="YvMiTe9!2"; HOST="localhost"; PORT=5432; DB="nfl_warehouse"
eng = create_engine(f"postgresql+psycopg2://{USER}:{PASS}@{HOST}:{PORT}/{DB}", pool_pre_ping=True)

with eng.connect() as con:
    qb_all = pd.read_sql(text("""
        SELECT qb_name, games, wins, losses, ties, win_pct,
               games_home, wins_home, games_away, wins_away,
               games_primetime, wins_primetime, games_playoff, wins_playoff,
               games_vs_500, wins_vs_500
        FROM mart.v_qb_alltime_splits
        ORDER BY wins DESC
        LIMIT 20;
    """), con)

    qb_last = pd.read_sql(text("""
        SELECT season, qb_name, games, wins, losses, ties, win_pct,
               games_primetime, wins_primetime, games_playoff, wins_playoff
        FROM mart.v_qb_last_season_splits
        ORDER BY wins DESC, win_pct DESC
        LIMIT 20;
    """), con)

display(qb_all.head(10))
display(qb_last.head(10))

# Coaches (requires dim_team_head_coach loaded)
with eng.connect() as con:
    try:
        coach_all = pd.read_sql(text("""
            SELECT head_coach, games, wins, losses, ties, win_pct,
                   games_home, wins_home, games_away, wins_away,
                   games_primetime, wins_primetime, games_playoff, wins_playoff,
                   games_vs_500, wins_vs_500
            FROM mart.v_coach_alltime_splits
            ORDER BY wins DESC
            LIMIT 20;
        """), con)
        display(coach_all.head(10))
    except Exception as e:
        print("Coach views available, but mapping not loaded yet. Run load_coach_csv(...).")

,qb_name,games,wins,losses,ties,win_pct,games_home,wins_home,games_away,wins_away,games_primetime,wins_primetime,games_playoff,wins_playoff,games_vs_500,wins_vs_500
0,T.Brady,377,284,93,0,0.7533,196,161,181,123,99,69,47,34,219,147
1,Peyton Manning,253,182,71,0,0.7194,130,100,123,82,67,49,26,14,151,93
2,B.Roethlisberger,271,179,91,1,0.6624,135,100,136,79,77,49,23,13,152,87
3,A.Rodgers,258,163,94,1,0.6337,127,97,131,66,80,49,21,11,143,70
4,D.Brees,243,151,92,0,0.6214,125,84,118,67,59,40,17,9,129,63
5,R.Wilson,215,130,84,1,0.6070,104,73,111,57,56,36,17,9,114,60
6,M.Ryan,242,126,115,1,0.5227,118,67,124,59,40,21,10,4,128,46
7,E.Manning,245,124,121,0,0.5061,120,62,125,62,67,30,12,8,154,54
8,J.Flacco,207,116,91,0,0.5604,98,68,109,48,42,24,16,10,118,51
9,M.Stafford,229,113,115,1,0.4956,113,61,116,52,50,19,10,5,126,38

,season,qb_name,games,wins,losses,ties,win_pct,games_primetime,wins_primetime,games_playoff,wins_playoff
0,2024,P.Mahomes,19,17,2,0,0.8947,5,5,3,2
1,2024,J.Hurts,18,16,2,0,0.8889,3,2,4,4
2,2024,J.Goff,18,15,3,0,0.8333,8,7,1,0
3,2024,J.Allen,19,15,4,0,0.7895,5,4,3,2
4,2024,S.Darnold,18,14,4,0,0.7778,5,2,1,0
5,2024,L.Jackson,19,13,6,0,0.6842,6,5,2,1
6,2024,J.Daniels,18,12,6,0,0.6667,5,4,3,2
7,2024,M.Stafford,18,11,7,0,0.6111,7,4,2,1
8,2024,J.Herbert,18,11,7,0,0.6111,5,2,1,0
9,2024,G.Smith,17,10,7,0,0.5882,4,1,0,0

,head_coach,games,wins,losses,ties,win_pct,games_home,wins_home,games_away,wins_away,games_primetime,wins_primetime,games_playoff,wins_playoff,games_vs_500,wins_vs_500
0,Bill Belichick,429,296,133,0,0.6900,223,166,206,130,110,71,42,30,258,155
1,Andy Reid,449,296,152,1,0.6604,231,156,218,140,115,71,45,28,254,133
2,Mike Tomlin,311,191,118,2,0.6174,155,107,156,84,94,56,19,8,168,87
3,Mike McCarthy,310,185,123,2,0.6000,154,105,156,80,96,54,22,11,176,80
4,John Harbaugh,300,185,115,0,0.6167,145,103,155,82,67,44,24,13,178,87
5,Sean Payton,293,179,114,0,0.6109,147,97,146,82,69,45,18,9,155,74
6,Pete Carroll,246,147,98,1,0.5996,121,83,125,64,54,37,19,10,133,64
7,John Fox,271,141,130,0,0.5203,136,75,135,66,43,20,15,8,170,70
8,Marvin Lewis,263,131,129,3,0.5038,132,75,131,56,35,10,7,0,153,52
9,Jeff Fisher,263,130,132,1,0.4962,131,71,132,59,32,14,7,2,149,58

## Position View

In [6]:
import pandas as pd
from sqlalchemy import create_engine, text

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 160)

USER="SeanZahller"; PASS="YvMiTe9!2"; DB="nfl_warehouse"
TRY_PORTS=[5432, 32769]  # tries default first, then your older ephemeral port

def make_engine():
    last_err=None
    for port in TRY_PORTS:
        url=f"postgresql+psycopg2://{USER}:{PASS}@localhost:{port}/{DB}"
        try:
            eng=create_engine(url, pool_pre_ping=True)
            with eng.connect() as con: con.execute(text("SELECT 1"))
            print(f"✅ Connected on port {port}")
            return eng
        except Exception as e:
            last_err=e
    raise RuntimeError(f"Could not connect. Last error: {last_err}")

eng = make_engine()

def q(sql, params=None):
    with eng.connect() as con:
        return pd.read_sql(text(sql), con, params=params)

def show(title, df, n=10):
    print("\n" + "="*len(title))
    print(title)
    print("="*len(title))
    if df is None:
        print("(no data)")
    else:
        display(df.head(n))

# 0) Latest season present
LATEST_SEASON = q("SELECT MAX(season) AS s FROM hist_schedules").iloc[0,0]
print("Latest season in DB:", LATEST_SEASON)

# 1) What views exist in mart?
try:
    mart_views = q("""
        SELECT table_name
        FROM information_schema.views
        WHERE table_schema='mart'
        ORDER BY table_name
    """)
    show("Views in schema mart", mart_views, n=50)
except Exception as e:
    print("Error listing mart views:", e)

# 2) Peek the base player-game view (the source for all position stats)
try:
    vpg = q("""
        SELECT season, week, team, player_name, position_group,
               rushing_attempts, rushing_yards, targets, receptions, receiving_yards,
               completions, attempts, passing_yards, passing_tds, interceptions,
               is_home, is_playoff, is_primetime
        FROM mart.v_player_games
        ORDER BY season DESC, week DESC
        LIMIT 20
    """)
    show("mart.v_player_games (peek)", vpg, n=20)
except Exception as e:
    print("Error peeking v_player_games:", e)

# -------- RB --------
try:
    rb_all = q("""
        SELECT player_name, games, total_yards, rushing_yards, receiving_yards,
               rushing_attempts, targets, total_tds, avg_yards_per_game,
               tds_primetime, yards_primetime
        FROM mart.v_rb_alltime_stats
        WHERE games >= 16
        ORDER BY total_yards DESC NULLS LAST
        LIMIT 25
    """)
    show("RB — All-time leaders (min 16 games)", rb_all)
except Exception as e:
    print("RB all-time error:", e)

try:
    rb_last = q("""
        SELECT player_name, games, total_yards, rushing_yards, receiving_yards,
               rushing_attempts, targets, total_tds, avg_yards_per_game
        FROM mart.v_rb_last_season_stats
        ORDER BY total_yards DESC NULLS LAST
        LIMIT 25
    """)
    show("RB — Last season leaders", rb_last)
except Exception as e:
    print("RB last-season error:", e)

try:
    rb_pt = q("""
        SELECT player_name, tds_primetime, yards_primetime, total_tds, games
        FROM mart.v_rb_alltime_stats
        WHERE tds_primetime IS NOT NULL
        ORDER BY tds_primetime DESC, yards_primetime DESC
        LIMIT 20
    """)
    show("RB — Most primetime TDs (all-time)", rb_pt)
except Exception as e:
    print("RB primetime error:", e)

try:
    rb_roll = q("""
        SELECT player_name, team, season, week, avg_yards_last3, yards_last3, tds_last3
        FROM mart.v_rb_rolling3
        WHERE season = (SELECT MAX(season) FROM hist_schedules)
        ORDER BY avg_yards_last3 DESC NULLS LAST
        LIMIT 25
    """)
    show("RB — Best last 3 games (current season)", rb_roll)
except Exception as e:
    print("RB rolling3 error:", e)

# -------- WR --------
try:
    wr_all = q("""
        SELECT player_name, games, receiving_yards, receptions, targets,
               receiving_tds, total_yards, avg_rec_yards_per_game
        FROM mart.v_wr_alltime_stats
        WHERE games >= 16
        ORDER BY receiving_yards DESC NULLS LAST
        LIMIT 25
    """)
    show("WR — All-time leaders (min 16 games)", wr_all)
except Exception as e:
    print("WR all-time error:", e)

# -------- TE --------
try:
    te_all = q("""
        SELECT player_name, games, receiving_yards, receptions, targets,
               receiving_tds, total_yards, avg_rec_yards_per_game
        FROM mart.v_te_alltime_stats
        WHERE games >= 16
        ORDER BY receiving_yards DESC NULLS LAST
        LIMIT 25
    """)
    show("TE — All-time leaders (min 16 games)", te_all)
except Exception as e:
    print("TE all-time error:", e)

# -------- QB --------
try:
    qb_all = q("""
        SELECT player_name, games, passing_yards, completions, attempts,
               passing_tds, interceptions, rushing_yards, total_yards_qb,
               avg_pass_yards_per_game, passing_tds_primetime
        FROM mart.v_qb_stats_alltime
        WHERE games >= 16
        ORDER BY passing_yards DESC NULLS LAST
        LIMIT 25
    """)
    show("QB — All-time passing leaders (min 16 games)", qb_all)
except Exception as e:
    print("QB all-time error:", e)

try:
    qb_roll = q("""
        SELECT player_name, team, season, week, pass_yards_last3, avg_pass_yards_last3, pass_tds_last3
        FROM mart.v_qb_rolling3
        WHERE season = (SELECT MAX(season) FROM hist_schedules)
        ORDER BY avg_pass_yards_last3 DESC NULLS LAST
        LIMIT 25
    """)
    show("QB — Best last 3 games (current season)", qb_roll)
except Exception as e:
    print("QB rolling3 error:", e)

# -------- RB splits example (home/away + primetime) --------
try:
    rb_splits = q("""
        WITH base AS (
          SELECT player_id, player_name, is_home, is_primetime,
                 scrimmage_yards, skill_tds
          FROM mart.v_player_games
          WHERE position_group = 'RB'
        )
        SELECT player_name,
               SUM(CASE WHEN is_home THEN scrimmage_yards ELSE 0 END) AS yards_home,
               SUM(CASE WHEN NOT is_home THEN scrimmage_yards ELSE 0 END) AS yards_away,
               SUM(CASE WHEN is_home THEN skill_tds ELSE 0 END) AS tds_home,
               SUM(CASE WHEN NOT is_home THEN skill_tds ELSE 0 END) AS tds_away,
               SUM(CASE WHEN is_primetime THEN scrimmage_yards ELSE 0 END) AS yards_primetime,
               SUM(CASE WHEN is_primetime THEN skill_tds ELSE 0 END) AS tds_primetime
        FROM base
        GROUP BY player_name
        HAVING SUM(scrimmage_yards) > 0
        ORDER BY yards_primetime DESC NULLS LAST
        LIMIT 25
    """)
    show("RB — Home/Away & Primetime splits (all-time)", rb_splits)
except Exception as e:
    print("RB splits error:", e)

✅ Connected on port 5432
Latest season in DB: 2024

====================
Views in schema mart
====================

                    table_name
0       v_coach_alltime_splits
1                v_coach_games
2   v_coach_last_season_splits
3        v_coach_season_splits
4               v_player_games
5          v_qb_alltime_splits
6                   v_qb_games
7      v_qb_last_season_splits
8            v_qb_primary_game
9                v_qb_rolling3
10          v_qb_season_splits
11          v_qb_stats_alltime
12      v_qb_stats_last_season
13           v_qb_stats_season
14          v_rb_alltime_stats
15      v_rb_last_season_stats
16               v_rb_rolling3
17           v_rb_season_stats
18          v_te_alltime_stats
19      v_te_last_season_stats
20               v_te_rolling3
21           v_te_season_stats
22       v_team_alltime_splits
23                v_team_games
24       v_team_games_enriched
25   v_team_last_season_splits
26        v_team_season_record
27        v_team_season_splits
28          v_wr_alltime_stats
29      v_wr_last_season_stats
30               v_wr_rolling3
31           v_wr_season_stats

==========================
mart.v_player_games (peek)
==========================

,season,week,team,player_name,position_group,rushing_attempts,rushing_yards,targets,receptions,receiving_yards,completions,attempts,passing_yards,passing_tds,interceptions,is_home,is_playoff,is_primetime
0,2024,22,KC,P.Mahomes,QB,4,25.0,0,0,0.0,21,32,257.0,3,2,False,True,False
1,2024,22,KC,M.Brown,WR,0,0.0,6,2,15.0,0,0,0.0,0,0,False,True,False
2,2024,22,PHI,J.Wilson,WR,0,0.0,1,0,0.0,0,0,0.0,0,0,True,True,False
3,2024,22,PHI,A.Brown,WR,0,0.0,5,3,43.0,0,0,0.0,0,0,True,True,False
4,2024,22,PHI,D.Goedert,TE,0,0.0,2,2,27.0,0,0,0.0,0,0,True,True,False
5,2024,22,PHI,K.Pickett,QB,3,-4.0,0,0,0.0,0,1,0.0,0,0,True,True,False
6,2024,22,KC,J.Watson,WR,0,0.0,0,0,0.0,0,0,0.0,0,0,False,True,False
7,2024,22,KC,J.Smith-Schuster,WR,0,0.0,2,2,16.0,0,0,0.0,0,0,False,True,False
8,2024,22,KC,S.Perine,RB,1,8.0,1,0,0.0,0,0,0.0,0,0,False,True,False
9,2024,22,KC,N.Gray,TE,0,0.0,1,1,2.0,0,0,0.0,0,0,False,True,False
10,2024,22,PHI,D.Smith,WR,0,0.0,5,4,69.0,0,0,0.0,0,0,True,True,False
11,2024,22,PHI,K.Gainwell,RB,6,10.0,0,0,0.0,0,0,0.0,0,0,True,True,False
12,2024,22,PHI,J.Dotson,WR,0,0.0,3,2,42.0,0,0,0.0,0,0,True,True,False
13,2024,22,KC,D.Hopkins,WR,0,0.0,5,2,18.0,0,0,0.0,0,0,False,True,False
14,2024,22,KC,K.Hunt,RB,3,9.0,1,1,5.0,0,0,0.0,0,0,False,True,False
15,2024,22,KC,I.Pacheco,RB,3,7.0,2,1,5.0,0,0,0.0,0,0,False,True,False
16,2024,22,KC,X.Worthy,WR,0,0.0,8,8,157.0,0,0,0.0,0,0,False,True,False
17,2024,22,KC,T.Kelce,TE,0,0.0,6,4,39.0,0,0,0.0,0,0,False,True,False
18,2024,22,PHI,J.Hurts,QB,11,72.0,0,0,0.0,17,22,221.0,2,1,True,True,False
19,2024,22,PHI,S.Barkley,RB,25,57.0,7,6,40.0,0,0,0.0,0,0,True,True,False

====================================
RB — All-time leaders (min 16 games)
====================================

,player_name,games,total_yards,rushing_yards,receiving_yards,rushing_attempts,targets,total_tds,avg_yards_per_game,tds_primetime,yards_primetime
0,F.Gore,249,20820.0,16668.0,4152.0,3884,648,104,83.614,17,3821.0
1,A.Peterson,189,17861.0,15333.0,2528.0,3348,405,131,94.503,22,2557.0
2,L.McCoy,172,15326.0,11324.0,4002.0,2514,687,90,89.105,24,4040.0
3,M.Forte,148,14762.0,9939.0,4823.0,2397,730,75,99.743,14,3413.0
4,Edgerrin James,144,14511.0,11478.0,3033.0,2852,454,80,100.771,15,2377.0
5,D.Henry,144,14164.0,12425.0,1739.0,2553,240,118,98.361,27,3146.0
6,Tiki Barber,116,14034.0,9960.0,4074.0,2068,551,59,120.983,14,2497.0
7,Thomas Jones,187,13212.0,11099.0,2113.0,2805,364,76,70.652,13,1502.0
8,Jamal Lewis,137,12947.0,11000.0,1947.0,2671,259,66,94.504,8,1982.0
9,Ahman Green,124,12409.0,9392.0,3017.0,2113,468,76,100.073,20,2317.0

========================
RB — Last season leaders
========================

  player_name  games  total_yards  rushing_yards  receiving_yards  rushing_attempts  targets  total_tds  avg_yards_per_game
0   S.Barkley     20       2857.0         2504.0            353.0               436       58         20             142.850
1     D.Henry     19       2384.0         2191.0            193.0               367       24         21             125.474
2     J.Gibbs     18       2084.0         1517.0            567.0               264       74         21             115.778
3  B.Robinson     17       1887.0         1456.0            431.0               304       72         15             111.000
4    J.Jacobs     18       1792.0         1410.0            382.0               319       46         17              99.556
5  K.Williams     18       1678.0         1481.0            197.0               351       45         17              93.222
6     A.Jones     18       1606.0         1186.0            420.0               268       68          7              89.222
7      J.Cook     19       1603.0         1281.0            322.0               260       44         21              84.368
8    B.Irving     18       1597.0         1199.0            398.0               224       54          9              88.722
9    J.Taylor     14       1567.0         1431.0            136.0               303       31         12             111.929

==================================
RB — Most primetime TDs (all-time)
==================================

       player_name  tds_primetime  yards_primetime  total_tds  games
0        E.Elliott             34           4352.0         90    141
1          D.Henry             27           3146.0        118    144
2    Marion Barber             27           2424.0         60    102
3          A.Jones             25           3628.0         78    120
4          L.McCoy             24           4040.0         90    172
5   Brandon Jacobs             24           1964.0         69    116
6       A.Peterson             22           2557.0        131    189
7         A.Ekeler             21           2249.0         75    118
8  Brian Westbrook             20           2533.0         77    130
9      Ahman Green             20           2317.0         76    124

=======================================
RB — Best last 3 games (current season)
=======================================

  player_name team  season  week  avg_yards_last3  yards_last3  tds_last3
0   S.Barkley  PHI    2024    13       205.666667        617.0          5
1   S.Barkley  PHI    2024    12       192.666667        578.0          4
2   S.Barkley  PHI    2024    14       181.000000        543.0          3
3    J.Taylor  IND    2024    18       178.000000        534.0          6
4     J.Mixon  HOU    2024     1       178.000000        178.0          1
5   S.Barkley  PHI    2024    20       174.666667        524.0          2
6     D.Henry  BAL    2024    18       171.666667        515.0          3
7     D.Henry  BAL    2024    19       170.666667        512.0          5
8     J.Gibbs  DET    2024    20       169.333333        508.0          7
9   S.Barkley  PHI    2024     9       165.666667        497.0          3

====================================
WR — All-time leaders (min 16 games)
====================================

     player_name  games  receiving_yards  receptions  targets  receiving_tds  total_yards  avg_rec_yards_per_game
0   L.Fitzgerald    272          18466.0        1487     2120            131      18539.0                  67.890
1    Steve Smith    226          15728.0        1090     1537             90      16160.0                  69.593
2   Reggie Wayne    227          15599.0        1163     1564             91      15599.0                  68.718
3  Anquan Boldin    217          14837.0        1147     1534             91      15061.0                  68.373
4        J.Jones    173          14695.0         991     1534             73      14883.0                  84.942
5  Andre Johnson    194          14543.0        1087     1478             71      14597.0                  74.964
6        M.Evans    178          13485.0         888     1517            111      13495.0                  75.758
7      D.Hopkins    187          13440.0        1024     1654             85      13461.0                  71.872
8        A.Brown    158          13209.0         987     1499             89      13377.0                  83.601
9  Terrell Owens    162          13061.0         886     1189            126      13254.0                  80.623

====================================
TE — All-time leaders (min 16 games)
====================================

     player_name  games  receiving_yards  receptions  targets  receiving_tds  total_yards  avg_rec_yards_per_game
0        T.Kelce    199          14229.0        1182     1621             97      14251.0                  71.503
1       J.Witten    267          13532.0        1273     1589             75      13532.0                  50.682
2  Tony Gonzalez    228          13505.0        1180     1512             99      13519.0                  59.232
3   R.Gronkowski    164          10675.0         719     1122            107      10677.0                  65.091
4        G.Olsen    205           9314.0         783     1211             63       9314.0                  45.434
5       J.Graham    190           8947.0         750     1162             94       8950.0                  47.089
6         Z.Ertz    178           8624.0         829     1225             56       8628.0                  48.449
7        V.Davis    195           8162.0         610      905             70       8177.0                  41.856
8       G.Kittle    125           7835.0         571      784             47       7910.0                  62.680
9   Heath Miller    175           7156.0         641      822             49       7164.0                  40.891

============================================
QB — All-time passing leaders (min 16 games)
============================================

,player_name,games,passing_yards,completions,attempts,passing_tds,interceptions,rushing_yards,total_yards_qb,avg_pass_yards_per_game,passing_tds_primetime
0,T.Brady,383,102616.0,8954,13973,738,252,1256.0,103872.0,267.927,188
1,D.Brees,245,73127.0,6474,9428,526,204,419.0,73546.0,298.478,132
2,Peyton Manning,260,71152.0,6094,9250,527,232,534.0,71686.0,273.662,153
3,B.Roethlisberger,272,70100.0,5942,9235,454,239,1615.0,71715.0,257.721,139
4,A.Rodgers,269,68838.0,5869,9018,548,129,3846.0,72684.0,255.903,173
5,M.Ryan,244,65464.0,5788,8815,401,190,1582.0,67046.0,268.295,65
6,M.Stafford,233,62867.0,5423,8540,396,194,1427.0,64294.0,269.815,71
7,E.Manning,247,59841.0,5137,8519,385,253,612.0,60453.0,242.271,107
8,R.Wilson,216,50191.0,4177,6481,377,123,5995.0,56186.0,232.366,100
9,J.Flacco,211,49227.0,4453,7244,283,174,997.0,50224.0,233.303,53

=======================================
QB — Best last 3 games (current season)
=======================================

    player_name team  season  week  pass_yards_last3  avg_pass_yards_last3  pass_tds_last3
0        J.Goff  DET    2024    17            1133.0            377.666667              11
1        J.Goff  DET    2024    16            1113.0            371.000000              11
2     J.Winston  CLE    2024    13            1111.0            370.333333               6
3      J.Burrow  CIN    2024    13            1093.0            364.333333              10
4      J.Burrow  CIN    2024    11            1035.0            345.000000              12
5      J.Burrow  CIN    2024    14            1034.0            344.666667               9
6    B.Mayfield   TB    2024     8            1025.0            341.666667              10
7  T.Tagovailoa  MIA    2024     1             338.0            338.000000               1
8  T.Tagovailoa  MIA    2024    14            1013.0            337.666667               8
9       G.Smith  SEA    2024     4            1011.0            337.000000               3

============================================
RB — Home/Away & Primetime splits (all-time)
============================================

  player_name  yards_home  yards_away  tds_home  tds_away  yards_primetime  tds_primetime
0   E.Elliott      6511.0      5795.0        45        45           4352.0             34
1     L.McCoy      7769.0      7557.0        54        36           4040.0             24
2      F.Gore     11221.0      9599.0        51        53           3821.0             17
3     A.Jones      5423.0      4912.0        44        34           3628.0             25
4     M.Forte      7832.0      6930.0        40        35           3413.0             14
5     D.Henry      6918.0      7246.0        55        63           3146.0             27
6      L.Bell      5080.0      5292.0        27        28           2959.0             15
7    D.Murray      5185.0      4379.0        36        21           2800.0             19
8    M.Ingram      5286.0      5310.0        35        41           2623.0             18
9  A.Peterson      8771.0      9090.0        72        59           2557.0             22