Testing File: Will be used to test connections, test analytical utility functions, and anything else that could be useful

In [ ]:
#First tests of Database successfully populating and querying
import pandas as pd
from sqlalchemy import create_engine, text

USER = "SeanZahller"
PASS = "YvMiTe9!2"
DB   = "nfl_warehouse"
TRY_PORTS = [5432]

pd.set_option("display.max_columns", None)

def make_engine():
    last_err = None
    for port in TRY_PORTS:
        url = f"postgresql+psycopg2://{USER}:{PASS}@localhost:{port}/{DB}"
        try:
            eng = create_engine(url, pool_pre_ping=True)
            with eng.connect() as con:  
                con.execute(text("SELECT 1"))
            print(f"Connected on port {port}")
            return eng
        except Exception as e:
            last_err = e
    raise RuntimeError(f"Could not connect on ports {TRY_PORTS}. Last error: {last_err}")

engine = make_engine()

def table_list():
    with engine.connect() as con:
        return pd.read_sql(
            text("""SELECT table_name
                    FROM information_schema.tables
                    WHERE table_schema='public'"""),
            con
        )["table_name"].tolist()

def safe_count(table):
    with engine.connect() as con:
        try:
            return con.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar()
        except Exception:
            return None

tables = table_list()
print("Tables:", ", ".join(sorted(tables)) or "(none)")

for t in ["hist_schedules", "hist_weekly", "hist_rosters_seasonal", "hist_rosters_weekly"]:
    if t in tables:
        cnt = safe_count(t)
        print(f"{t:24s} {cnt:,}" if cnt is not None else f"{t:24s} (count error)")
    else:
        print(f"{t:24s} (missing)")

START_SEASON, END_SEASON = 2000, 2024
with engine.connect() as con:
    sample = pd.read_sql(
        text("""
            SELECT season, week, gameday, home_team, away_team, home_score, away_score
            FROM hist_schedules
            WHERE home_score IS NOT NULL AND away_score IS NOT NULL
              AND season BETWEEN :s AND :e
            ORDER BY season, week
            LIMIT 10
        """),
        con, params={"s": START_SEASON, "e": END_SEASON}
    )
print("\nSample scored games:")
print(sample.to_string(index=False))

# Querying Record vs .500 Win Pct
MIN_GAMES_VS_500 = 50 

sql_vs500 = text("""
WITH games AS (
  SELECT season, week, gameday, home_team, away_team, home_score, away_score
  FROM hist_schedules
  WHERE home_score IS NOT NULL AND away_score IS NOT NULL
    AND season BETWEEN :s AND :e
),
team_games AS (
  SELECT season,
         home_team AS team,
         away_team AS opp,
         CASE WHEN home_score > away_score THEN 1
              WHEN home_score = away_score THEN 0.5
              ELSE 0 END AS win_pts,
         1 AS games
  FROM games
  UNION ALL
  SELECT season,
         away_team AS team,
         home_team AS opp,
         CASE WHEN away_score > home_score THEN 1
              WHEN away_score = home_score THEN 0.5
              ELSE 0 END AS win_pts,
         1 AS games
  FROM games
),
season_record AS (
  SELECT season, team,
         SUM(win_pts) AS wins, SUM(games) AS games,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct
  FROM team_games
  GROUP BY season, team
),
vs_500 AS (
  SELECT tg.season, tg.team, tg.opp, tg.win_pts, tg.games
  FROM team_games tg
  JOIN season_record sr_opp
    ON sr_opp.season = tg.season AND sr_opp.team = tg.opp
  WHERE sr_opp.win_pct >= 0.5
),
agg_vs_500 AS (
  SELECT team,
         SUM(win_pts) AS wins_vs_500,
         SUM(games)  AS games_vs_500,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct_vs_500
  FROM vs_500
  GROUP BY team
),
agg_overall AS (
  SELECT team,
         SUM(win_pts) AS wins_all,
         SUM(games)  AS games_all,
         SUM(win_pts)/NULLIF(SUM(games),0) AS win_pct_all
  FROM team_games
  GROUP BY team
)
SELECT a.team,
       a.games_vs_500,
       ROUND(a.wins_vs_500::numeric, 1) AS wins_vs_500,
       ROUND(a.win_pct_vs_500*100, 2)   AS win_pct_vs_500_pct,
       o.games_all,
       ROUND(o.wins_all::numeric, 1)    AS wins_all,
       ROUND(o.win_pct_all*100, 2)      AS win_pct_all_pct,
       ROUND((a.win_pct_vs_500 - o.win_pct_all)*100, 2) AS diff_vs_overall_pp
FROM agg_vs_500 a
JOIN agg_overall o USING (team)
WHERE a.games_vs_500 >= :min_games
ORDER BY a.win_pct_vs_500 DESC, a.games_vs_500 DESC;
""")

with engine.connect() as con:
    df_vs500 = pd.read_sql(sql_vs500, con, params={
        "s": START_SEASON, "e": END_SEASON, "min_games": MIN_GAMES_VS_500
    })

print(f"\nBest win% vs .500+ opponents ({START_SEASON}-{END_SEASON}, min {MIN_GAMES_VS_500} games):")
print(df_vs500.head(20).to_string(index=False))

Connected on port 5432
Tables: hist_schedules, hist_weekly
hist_schedules           6,732
hist_weekly              129,439
hist_rosters_seasonal    (missing)
hist_rosters_weekly      (missing)

Sample scored games:
 season  week    gameday home_team away_team  home_score  away_score
   2000     1 2000-09-03       CLE       JAX         7.0        27.0
   2000     1 2000-09-03        KC       IND        14.0        27.0
   2000     1 2000-09-03       MIN       CHI        30.0        27.0
   2000     1 2000-09-03        NE        TB        16.0        21.0
   2000     1 2000-09-03        NO       DET        10.0        14.0
   2000     1 2000-09-03       NYG       ARI        21.0        16.0
   2000     1 2000-09-03       PIT       BAL         0.0        16.0
   2000     1 2000-09-03       WAS       CAR        20.0        17.0
   2000     1 2000-09-03       DAL       PHI        14.0        41.0
   2000     1 2000-09-03       ATL        SF        36.0        28.0

Best win% vs .500+ opponents (2000-2024, min 50 games):
team  games_vs_500  wins_vs_500  win_pct_vs_500_pct  games_all  wins_all  win_pct_all_pct  diff_vs_overall_pp
  NE           265        157.0               59.25        446     300.0            67.26               -8.02
 PIT           236        123.5               52.33        433     271.5            62.70              -10.37
  GB           237        113.5               47.89        436     267.0            61.24              -13.35
  KC           249        118.0               47.39        433     250.0            57.74              -10.35
 BAL           254        119.0               46.85        436     262.0            60.09              -13.24
 PHI           249        116.0               46.59        439     263.0            59.91              -13.32
 IND           248        114.0               45.97        431     251.5            58.35              -12.38
  LA            91         41.0               45.05        161      92.0            57.14              -12.09
 DEN           241        103.0               42.74        420     224.0            53.33              -10.59
 SEA           228         95.0               41.67        432     243.5            56.37              -14.70
  NO           218         86.0               39.45        423     235.0            55.56              -16.11
  SD           167         62.0               37.13        282     140.0            49.65              -12.52
 TEN           237         86.0               36.29        418     204.0            48.80              -12.52
  SF           241         87.0               36.10        427     209.5            49.06              -12.96
 DAL           228         82.0               35.96        418     221.0            52.87              -16.91
 MIN           230         79.5               34.57        419     220.0            52.51              -17.94
  TB           228         77.0               33.77        421     198.0            47.03              -13.26
 CIN           243         82.0               33.74        417     196.0            47.00              -13.26
 MIA           233         78.0               33.48        411     197.0            47.93              -14.46
 BUF           244         81.0               33.20        417     205.0            49.16              -15.96